{% extends 'base.html' %}

{% load staticfiles %}

{% block optional_javascript %}	
<script src="{% static 'js/require.js' %}"></script>

<script>
	$(document).ready(function(){
		$('.connect_sensor').on("click",function(e){
			e.preventDefault();
			sensor_name=this.id
			$.ajax({
				url			: '/check_status/',
				cache		: false,
				type		: "GET",
				data		: {'sensor_name':this.id},
				success	: function(response){
					alert(response)
					}		
				});
		});
	});
</script>


{% endblock %}
			
{% block link_navbar %}			
<li><a href="/"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:175%"></span></a></li>
{% endblock %}

{% block content %}
<div class="row" style="height:50px"></div>
<!-- administer -->
<section id="administer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>administer</h2>
				<hr class="star-primary">
			</div>
		</div>
					
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<table class="table table-bordered">
					<thead>
						<tr class="active">
							<th style="text-align:center">name</th>
							<th style="text-align:center">마지막 업데이트</th>
							<th style="text-align:center">연결 확인</th>
						</tr>
						<tr>
							<td>sensor 1</td>
							<td>{{sensor_1}}</td>
							<td><button type="button" class="connect_sensor btn btn-primary btn-xs" id="sensor1">확인하기</button></td>
						</tr>
						<tr>
							<td>sensor 2</td>
							<td>{{sensor_2}}</td>
							<td><button type="button" class="connect_sensor btn btn-primary btn-xs" id="sensor2">확인하기</button></td>
						</tr>
						<tr>
							<td>sensor 3</td>
							<td>{{sensor_3}}</td>
							<td><button type="button" class="connect_sensor btn btn-primary btn-xs" id="sensor3">확인하기</button></td>
						</tr>
						<tr>
							<td>sensor 4</td>
							<td>{{sensor_4}}</td>
							<td><button type="button" class="connect_sensor btn btn-primary btn-xs" id="sensor4">확인하기</button></td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</section>
		
<script src="{% static 'js/require.js' %}"></script>

{% endblock %}
